<div class="card card-narrow">
    <form action="/user" method="post">
        <input class="input input-light input-block" type="text" name="first_name" placeholder="first name..." required>
        <input class="input input-light input-block" type="text" name="second_name" placeholder="last name..." required>
        <input class="input input-light input-block" type="email" name="email" placeholder="email..." required>
        <input class="input input-light input-block" type="password" name="password" placeholder="password..." required>

        <button class="large-button large-button-positive">Create Account</button>
    </form>
</div>



