<form action="/user" method="post">
    <label for="">First name</label>
    <input type="text" name="first_name">

    <label for="">Last name</label>
    <input type="text" name="second_name">

    <label for="">email</label>
    <input type="email" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button>Sign up</button>
</form>