<div class="card card-narrow">
    <form action="/thought" method="post">
        <input class="input input-light input-block" name="title" type="text" placeholder="Title...">
        <textarea 
            class="input input-light input-text-area input-block" 
            name="content" 
            cols="30" 
            rows="10" 
            placeholder="Title..."></textarea>
        <button class="large-button large-button-positive">Submit</button>
    </form>
</div>