<div class="card card-narrow">
    <form action="/comment/<%= comment["id"]%>" method="post">
        <input type="hidden" name="_method" value="put" required>
        <textarea 
        required
        maxlength="150"
        class="input input-light input-text-area input-block" 
        name="content" 
        cols="30" 
        rows="10"
        placeholder="Comment..."
        ><%= comment["content"] %></textarea>
        <button class="large-button large-button-positive">Submit</button>
        <div class="character-counter"> <p class="character-count">0</p> <p class="bold">/</p> <p>150</p> </div>
    </form>
</div>
<script src="/scripts/characterCounter.js"></script>