<div class="card card-narrow">
    <form action="/comment/<%= comment["id"]%>" method="post">
        <input type="hidden" name="_method" value="put">
        <textarea 
        class="input input-light input-text-area input-block" 
        name="content" 
        cols="30" 
        rows="10"
        placeholder="Comment..."
        ><%= comment["content"] %></textarea>
        <button class="large-button large-button-positive">Submit</button>
    </form>
</div>