<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>Thoughtify</title>
</head>
<body>
    <div class="head">
        <div class="head-user-tab">
            <% if logged_in? %>
                <form action="/session" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="action-button"><img class="action logout-icon" src="/images/icons/logout.svg" alt=""></button>
                </form>
            <% else %>
                <div class="login-form">
                    <form action="/login">
                        <button class="action-button"><img class="action logout-icon" src="/images/icons/login.svg" alt=""></button>
                    </form>
                    <form action="/signup">
                        <button class="signup-button">signup</button>
                    </form>
                </div>
            <% end %>
            <% if logged_in? %>
                <% user = User.get_single_user_by_id(current_user_id)%>
                <p class="head-user"><%= user["first_name"] %> <%= user["second_name"] %></p>
            <% end %>
        </div>

    <a class="logo-link" href="/"><img class="head-logo" src="/images/branding/Logo.svg" alt=""></a>

    </div>

    <div class="main-content">
            <a class="main-action" href="/create-thought">post a tought</a>
            <div class="thoughts-container">
                <%= yield %>
            </div>
            
            <a class="main-action" href="/search_user">search user</a>
    </div>
</body>
</html>