<div class="card card-narrow">
    <form action="/session" method="post">
        <input class="input input-light input-block" name="email" type="email" placeholder="email..." required>

        <input class="input input-light input-block" name="password" type="password" placeholder="password..." required>

        <button class="large-button large-button-positive">Login</button>
    </form>
</div>

<div class="popup popup-negative">
    Invalid Email/Password
    <button class="popup-cancel popup-negative"> okay </button>
</div>

<% if popup %>
    <script src="/scripts/popup.js"></script>
<% end %>