<form action="/search_user">
    <input type="text" name="search_q">
    <button>Search</button>
</form>

<div>
    <% if results == nil %>
        Search for a user
    <%else%>
        <% results.each do |user| %>
            <a href="/user/<%= user["id"] %>"><h2><%= user["first_name"]%> <%= user["last_name"]%></h2></a>
        <% end %>
    <%end%>
</div>