

<form action="/session" method="post">
    <input type="email" name="email">
    <input type="password" name="password">
    <button>Login</button>
</form>

<form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>logout</button>
</form>

<form action="/user" method="post">
    <input type="text" name="name">
    <input type="email" name="email">
    <input type="password" name="password">
    <button>create</button>
</form>

<form action="/user" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>delete user</button>
</form>