@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$color-card: rgba(26, 35, 60, 1);
$color-red: rgb(247, 91, 91);
$color-green: rgba(25, 222, 104, 1);
$color-input-light: rgba(114, 131, 175, 1);
$color-input-light-focus: rgb(90, 105, 143);
$color-input-dark:rgba(54, 66, 98, 1);
$color-input-dark-focus:rgb(34, 43, 70);
$box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.25);
$box-shadow-hover: 6px 11px 10px 4px rgba(0,0,0,0.25);

body{
    font-family: 'Roboto', sans-serif;
    height: 900px;
    background: linear-gradient(120deg, rgb(20, 105, 114) 0%, rgb(27, 61, 95) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    color: white;
    text-decoration: none;
}

.card {
    position: relative;
    color: white;
    margin: 50px;
    background-color: $color-card;
    width: 845px;
    padding: 15px 35px;
    border-radius: 35px;
    box-shadow: $box-shadow;
}
.card-narrow{
    width: 700px;
}
.card-profile-pic{
    position: absolute;
    width: 60px;
    top: 7px;
    left: 20px;
}
.card-title{
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}
.card-content{
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 2px solid #273559;
    border-bottom: 2px solid #273559;
    font-size: 22px;
    letter-spacing: 0.1em;
    line-height: 1.4em;
}
.card-user{
    left: 80px;
    position: absolute;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    line-height: 0.7em;
}
progress[value] {
    -webkit-appearance: none;
    
    appearance: none;
    text-align: center;
    display: block;
    margin: 20px auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 350px;
    height: 13px;
    border: none;
    background-color: $color-red;
}
progress[value]::-webkit-progress-value{
    background: $color-green;
}
progress[value]::-moz-progress-bar{
    background: $color-green;
}
.vote-button-button{
    background-color: rgba(255,255,255,0);
    border: none;
}
.vote-button{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: auto;
    width: 40px;
}
.vote-button:hover{
    width: 50px;
}

.vote-container{
    text-align: center;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.dislike{
    padding-top: 0px;
}

.tooltip{
    transition: all 0.5s ease-in-out;
    opacity: 0;
    font-weight: bold;
    z-index: 1;
    background-color: rgba(37, 37, 37, 0.61);
    position: absolute;
    padding: 10px;
    padding-left: 0px;
}
.vote-tooltip{
    top: 300px;
    ul {
        text-align: left;
    }
}
.tooltip-left{
    border-radius: 25px 0px 25px 25px;
    left: 30px;
}
.tooltip-right{
    border-radius: 0px 25px 25px 25px;
    left: 730px;
}

.vote-button-button:hover + .vote-tooltip{
    opacity: 100 !important;
}


.input{
    transition: all 0.2s ease-in-out;
    color: white;
    border-radius: 25px;
    height: 35px;
    border: none;
    font-size: 22px;
    padding-left: 18px;
}
.input:focus{
    outline: none;
}

.input-light{
    background: $color-input-light;
}
.input-light:focus{
    background: $color-input-light-focus;
}

.input-dark{
    background: $color-input-dark;
}
.input-dark:focus{
    background: $color-input-dark-focus;
}

.large-button{
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    box-sizing: border-box;
    margin: 20px;
    cursor: pointer;
    font-size: 24px;
    border: none;
    border-radius: 24px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0);
}
.large-button:hover{
    position: static;
    box-shadow: $box-shadow-hover;
}

.large-button-positive{
    border: 4px solid $color-green;
    color: $color-green;
}
.large-button-positive:hover{
    background: $color-green;
    color:rgb(90, 105, 143)
}
.large-button-negative{
    border: 4px solid $color-red;
    color: $color-red;
}
.large-button-negative:hover{
    background: $color-red;
    color:rgb(90, 105, 143)
}

.action-icons{
    cursor: pointer;
    position: absolute;
    left: 710px
}
.action-icons-comment{
    left: 580px;
    top: 10px;
}

.action{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    padding-left: 30px;
    width: 40px;
}
.action-button{
    appearance: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 40px;
}
.action-del{
    left: 80px;
}
.action:hover{
    width: 50px;
}
.action-button:hover + .tooltip{
    transition-delay: 0.6s;
    opacity: 100;
}
.tooltip-del{
    
    left: 180px;
}
.tooltip-edit{
    
    left: 0px;
}
